#selector-loader {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 1000010;
	background: rgba(0, 0, 0, 0.5);
	display: none;
	&.show {
		display: block;
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: -40px 0 0 -40px;
	}
}
#system-selector {
	section {
		margin-bottom: 20px;
		padding-bottom: 20px;
		border-bottom: 1px solid $c-lgrey;
		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: none;
		}
	}
	.header {
		margin-bottom: 20px;
	}
	.contact-details {
		p {
			&.info {
				margin-bottom: 6px;
				&:last-of-type {
					margin-bottom: 0;
				}
			}
			span {
				width: 50px;
				font-size: 14px;
				font-weight: 600;
				display: block;
				text-transform: uppercase;
			}
			strong {
				font-size: 16px;
				font-weight: 400;
				color: $c-red;
			}
		}
	}
	.selector {
		padding-bottom: 0;
		.step {
			margin-bottom: 30px;
			border-bottom: 1px solid $c-lgrey;
			&:last-of-type {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		h2 {
			strong,
			span {
				display: inline-block;
				vertical-align: middle;
			}
			strong {
				font-weight: bold;
				text-transform: uppercase;
				color: $c-red;
				margin-right: 10px;
				font-size: 28px;
				width: 100px;
			}
			span {
				color: $c-text;
				width: calc(100% - 110px);
			}
		}
	}
	.option-group {
		.option {
			background: $c-lgrey;
			width: 120px;
			height: 120px;
			border-radius: 60px;
			padding-top: 17px;
			.icon,
			.text {
				text-align: center;
				display: block;
			}
			.icon {
				margin-bottom: 5px;
				font-family: selector;
				font-size: 80px;
				line-height: 60px;
			}
			.text {
				font-size: 12px;
				max-width: 70px;
				margin: 0 auto;
				line-height: 13px;
				font-weight: bold;
			}
			&:hover {
				background: $c-red;
				color: $c-white;
				cursor: pointer;
			}
			&.active {
				background: $c-lgrey;
				color: $c-red;
				border: 2px solid $c-red;
			}
		}
		li {
			width: 120px;
			margin-right: 20px;
			margin-bottom: 20px;
			display: inline-block;
			vertical-align: middle;
		}
	}
	#selected-products {
		margin-top: 20px;
		h2 {
			font-size: 32px;
			font-weight: 100;
		}
		.product {
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid $c-lgrey;
			&:last-of-type {
				margin-bottom: 0;
				padding-bottom: 0;
				border-bottom: none;
			}
		}
		.image-container {
			a {
				display: block;
			    text-align: center;
			}
		}
		.copy-container {
			a.more-info {
				display: block;
			}
		}
	}
	#error {
		display: none;
		color: $c-red;
		&.show {
			display: block;
		}
	}
	#reset {
		background-color: $c-mgrey;
		&:hover {
			background-color: #2b292a;
		}
	}
	@include bp(min-width, $bp-xsmall + 1) {
		.contact-details {
			p {
				span {
					display: inline-block;
				}
				strong {
					font-size: 18px;
				}
			}
		}
	}
	@include bp(min-width, $bp-medium + 1) {
		.header {
			margin-bottom: 30px;
		}
		.heading {
			& > div {
				width: 48%;
				vertical-align: top;
				display: inline-block;
				padding-left: 4%;
				p {
					&:last-child {
						margin-bottom: 0;
					}
				}
			}
		}
		.contact-details {
			p {
				strong {
					font-size: 16px;
				}
			}
		}
		.selector {
			.step {
				&:nth-of-type(2),
				&:nth-of-type(3) {
					display: inline-block;
					vertical-align: middle;
					max-width: 288px;
				}
				&:nth-of-type(2) {
					margin-right: 60px;
				}
			}
		}
		#selected-products {
			.intro {
				padding: 0 4% 20px;
				margin-bottom: 20px;
				border-bottom: 1px solid $c-lgrey;
				p {
					&:last-of-type {
						margin-bottom: 0;
					}
				}
			}
			.image-container,
			.copy-container {
				display: inline-block;
				vertical-align: top;
			}
			.image-container {
				width: 265px;
				margin-right: 20px;
			}
			.copy-container {
				width: calc(100% - 290px);
			}
		}
	}
	@include bp(min-width, $bp-large + 1) {
		.contact-details {
			p {
				strong {
					font-size: 18px;
				}
			}
		}
		#selected-products {
			li {
				width: 49%;
				display: inline-block;
				vertical-align: top;
				padding-right: 2%;
				& + li {
					border: none;
					padding: 0;
					margin: 0;
				}
				&:nth-of-type(2n) {
					padding-right: 0;
					padding-left: 2%;
				}
				.image-container {
					float: none;
				}
			}
		}
	}
	@include bp(min-width, $bp-xlarge + 1) {
		.selector {
			.step {
				&:nth-of-type(2),
				&:nth-of-type(3),
				&:nth-of-type(4) {
					border-bottom: 0;
					margin-bottom: 0;
				}
				&:nth-of-type(4) {
					display: inline-block;
					vertical-align: middle;
					clear: right;
				}
				&:nth-of-type(3) {
					margin-right: 60px;
				}
			}
		}
		#selected-products {
			li {
				width: 33%;
				padding-left: 0!important;
				padding-right: 2%!important;
				&:nth-of-type(3n) {
					padding-right: 0!important;
				}
			}
		}
	}
}