// =============================================
// Colours
// =============================================

$c-green:  #78B834;
$c-red:    #E60004;
$c-black:  #000000;
$c-white:  #ffffff;
$c-grey:   #A7A9AB;
$c-xlgrey: #F4F4F4;
$c-lgrey:  #ebebeb;
$c-dgrey:  #58585B;
$c-mgrey:  #9a9a9a;
$c-border: #d7d7d7;

// Text
$c-text: $c-dgrey;

// =============================================
// Breakpoints
// =============================================

$bp-xsmall: 479px;
$bp-small: 599px;
$bp-medium: 767px;
$bp-large: 959px;
$bp-xlarge: 1199px;