<section id="selected-products">
	<div class="intro">
		<h2>Suggested products</h2>
		<p>Here are the products we suggest would be suitable for your project.</p>
		<p><strong>Please note</strong> these are simply suggestions to help narrow your options and help you reach your final decision.  As every project is different, we cannot guarantee these products are totally suitable for your needs.</p>
	</div>
	<?php foreach ($this->getData('products') as $product): ?>
		<div class="product">
			<div class="image-container">
				<a title="Click here to view our <?php echo $product->getTitle(); ?>" href="<?php echo $product->getUrl(); ?>">
					<img alt="<?php echo $product->getTitle(); ?>" src="<?php echo $product->getImage(); ?>">
				</a>
			</div>
			<div class="copy-container">
				<h3><?php echo $product->getTitle(); ?></h3>
				<div class="description">
					<?php echo $product->getDescription(); ?>
					<a title="Click here to view our <?php echo $product->getTitle(); ?>" href="<?php echo $product->getUrl(); ?>" class="cta more-info">More info</a>
				</div>
			</div>
		</div>
	<?php endforeach; ?>
</section>