<div id="system-selector">
	<section id="header-section">
		<div class="header">
			<img src="/skin/frontend/base/default/systemselector/img/system-selector-header.jpg" alt="System Selector" class="show-above-bpxsml">
			<img src="/skin/frontend/base/default/systemselector/img/system-selector-header-small.jpg" alt="System Selector" class="hide-above-bpxsml">
		</div>
		<div class="heading">
			<div>
				<p>If you're new to underfloor heating, understanding what you need can be a little daunting.</p>
				<p>We have developed our <strong>System Selector</strong> tool to guide you to the correct product.  Make a few simple choices from the options below and we'll be able to narrow down the right product for your project.</p>
			</div>
			<div class="contact-details">
				<p>If you need any guidance or further information, our highly experienced team are on hand to help.</p>
				<p class="info"><span>Tel:</span><strong>01268 567016</strong></p>
				<p class="info"><span>Email:</span><strong>sales@theunderfloorheatingstore.com</strong></p>
			</div>
		</div>
	</section>
	<section class="selector">
		<div class="step">
			<h2><strong>Step 1</strong><span>Choose your room</span></h2>
			<ul class="option-group" data-step="1">
				<li>
					<div class="option" data-index="1">
						<span class="icon">C</span>
						<span class="text">Bathroom</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="2">
						<span class="icon">D</span>
						<span class="text">Kitchen</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="3">
						<span class="icon">E</span>
						<span class="text">Lounge</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="4">
						<span class="icon">F</span>
						<span class="text">Bedroom</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="5">
						<span class="icon">G</span>
						<span class="text">Conservatory</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="step">
			<h2><strong>Step 2</strong><span>Choose your building project</span></h2>
			<ul class="option-group" data-step="2">
				<li>
					<div class="option" data-index="1">
						<span class="icon">H</span>
						<span class="text">New Build</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="2">
						<span class="icon">I</span>
						<span class="text">Retro Fit</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="step">
			<h2><strong>Step 3</strong><span>Choose your subfloor</span></h2>
			<ul class="option-group" data-step="3">
				<li>
					<div class="option" data-index="1">
						<span class="icon">J</span>
						<span class="text">Concrete</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="2">
						<span class="icon">K</span>
						<span class="text">Timber</span>
					</div>
				</li>
			</ul>
		</div>
		<div class="step">
			<h2><strong>Step 4</strong><span>Choose your floor finish</span></h2>
			<ul class="option-group" data-step="4">
				<li>
					<div class="option" data-index="1">
						<span class="icon">L</span>
						<span class="text">Tiles</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="2">
						<span class="icon">M</span>
						<span class="text">Laminate / Wood</span>
					</div>
				</li>
				<li>
					<div class="option" data-index="3">
						<span class="icon">N</span>
						<span class="text">Vinyl / Carpet</span>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section id="button-group">
		<p id="error">You must select an option for each step to continue</p>
		<button id="reset" class="button">Reset</button>
		<button id="submit" class="button">Submit</button>
	</section>

	<div id="results"></div>
</div>

<div id="selector-loader">
	<img src="skin/frontend/base/default/systemselector/img/loader.svg">
</div>

<script>
	// Activate option buttons
	$j('.option').click(function(){
		$j(this).closest('.option-group').find('.option').removeClass('active');
		$j(this).addClass('active');
	});

	// Activate reset button
	$j('#reset').click(function(){
		$j('.option').removeClass('active');
		$j('.outcome').html('');
	});

	// Handle submission
	$j('#submit').click(function(){
		code = '';
		// Collate users choices
		$j('[data-step]').each(function(){
			var $options = $j(this).find('.active');
			if ($options.length <= 0) {
				return false;
			}
			code += $options.data('index');
		});
		// If we have a selection for each section
		if (code.length == 4) {

			var existingPreloader = (typeof show_preloader == "function" && typeof hide_preloader == "function") ? true : false;
			if (existingPreloader) {
				show_preloader();
			} else {
				$j('#selector-loader').addClass('show');
			}

			// Get the suggested products HTML
			$j.ajax({
				url: "/systemselector/index/result?code=" + code,
				method: "get"
			}).success(function(html){
				$j('#results').html(html);
				var top = $j('#selected-products').offset().top - 60;
				$j('html, body').animate ({
					scrollTop: top
				}, 500);
			}).done(function(){

				if (existingPreloader) {
					hide_preloader();
				} else {
					$j('#selector-loader').removeClass('show');
				}

			});
		} else {
			$j('#error').addClass('show');
		}
	});
</script>