/* ============================================ *
 * Buttons
 * ============================================ */
@mixin button($button-color, $text-color) {
    background-color: $button-color;
    display: inline-block;
    padding: 6px 34px 6px;
    border: 1px solid darken($button-color, 10%);
    color: $text-color;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    position: relative;
    text-decoration: none;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.3);
    border-radius: 6px;
}

button {
    @include button($c-grey, $c-white);
}